<ul class="navBar">
  <li class="element"><a href="/" class="active">UI Sprint Design</a></li>
  <li class="element"><a href="/">Accueil</a></li>
  <li class="element"><a href="#">Nav 1</a></li>
  <li class="element"><a href="#">Nav 2</a></li>
  <li class="element" style="float: right;"><a href="/profile">Martin</a></li>
  <li class="dropdown element" style="float: right;">
    <span class="dropbtn"><%= image_tag("avatar.jpg", class: "avatar") %></span>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul>
<h1 class="center mauve">Profile</h1>

<div class="card">
  <div>
    <%= image_tag("avatar.jpg", class: "card-image") %>
  </div>
  <div class="card-content">
    <h3>Martin</h3>
    <p>Français venu de France pour Franciser les français !</p>
    <div class="btn">
      <center><a href="#" class="btn-mauve">Voir plus</a></center>
    </div>
  </div>
</div>
